<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Faculties Details</h1>
        <h1>Python- Sai Santosh, Harshad Valli</h1>
        <h1>Java- Raveesh Sid </h1>

        <a href="{% url 'app1:jspider' %}"><button style="background-color: black; color:whitesmoke; height: 30px; width: 110px; border-radius: 10%;">Jspider Page</button></a>
        <a href="{% url 'app2:contact' %}"><button style="background-color: black; color:whitesmoke; height: 30px; width: 110px; border-radius: 10%;">Contact Page</button></a>
    </center>
</body>
</html>