<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Learn Python FullStack Development</h1>
        <h1>Learn Java FullStack Development</h1>

        <a href="{% url 'app2:contact' %}"><button style="background-color: black; color:whitesmoke; height: 30px; width: 100px; border-radius: 10%;">Contact Page</button></a>
    </center>
</body>
</html>